<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  rel="stylesheet" href="css/styles.css">
  <title><%= data.title %> - Express EJS Demo</title>

</head>
<body>
  <nav class="navbar">
    <a href="/" class="<%= data.title === 'Home Page' ? 'active' : '' %>">Home</a>
    <a href="/about" class="<%= data.title === 'About Us' ? 'active' : '' %>">About</a>
    <a href="/profile" class="<%= data.title === 'User Profile' ? 'active' : '' %>">Products</a>
    <a href="/settings" class="<%= data.title === 'Settings' ? 'active' : '' %>">Team</a>
    <a href="/contact" class="<%= data.title === 'Contact Us' ? 'active' : '' %>">Contact</a>
    <a href="/Page1" class="<%= data.title === 'Page 1' ? 'active' : '' %>">Showcase</a>
    <a href="/Page2" class="<%= data.title === 'Page 2' ? 'active' : '' %>">Packages</a>
    <a href="/Page3" class="<%= data.title === 'Page 3' ? 'active' : '' %>">Test</a>
    <a href="/Page4" class="<%= data.title === 'Page 4' ? 'active' : '' %>">Info</a>
    <a href="/Page5" class="<%= data.title === 'Page 5' ? 'active' : '' %>">Newsletter</a>



  </nav>
  <div class="container">
    <h1><%= data.title %></h1>
