<!DOCTYPE html>
<html class="bg-orange-50">
<head>
<title>Page 2</title>
<link rel="stylesheet" href="/css/main.css"/>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
  <%- include('partials/header') %>

  <div class="mt-40 mb-60 ml-30 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="card bg-purple-900 shadow-xl">
      <div class="card-body">
        <h2 class="card-title"><%= data.package %></h2>
        <p class="text-lg"><%= data.price %></p>
        <ul>
          <li>Keycaps: <%= data.keycaps%></li>
          <li>Swtiches: <%= data.swtiches%></li>
          <li>Customization: <%= data.customization %></li>
        </ul>
        <button class="btn btn-primary w-full">Select</button>
      </div>
    </div>

    <div class="card bg-purple-900 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Advanced Package</h2>
        <p class="text-lg">$149</p>
        <ul>
          <li>Premium Keycaps</li>
          <li>Custom Switches</li>
          <li>Advanced Customization</li>
        </ul>
        <button class="btn btn-primary w-full">Select</button>
      </div>
    </div>

    <div class="card bg-purple-900 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Pro Package</h2>
        <p class="text-lg">$199</p>
        <ul>
          <li>Luxury Keycaps</li>
          <li>Exclusive Switches</li>
          <li>Complete Customization</li>
        </ul>
        <button class="btn btn-primary w-full">Select</button>
      </div>
    </div>
  </div>


  <%- include('partials/footer') %>
</body>
</html>
