<!DOCTYPE html>
<html>

<head>
  <title>Title of the document</title>
  <link rel="stylesheet" href="/css/main.css" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>

<body>

  <%- include('partials/header') %>
    <h2 class="font-bold pl-48 pt-12 text-3xl text-white">Shop our: <%= data.user.name %>!</h2>
    <div class="flex">
    <section class="mt-10 mb-10 w-200 pl-45">
    <ul class="list bg-purple-900 rounded-box shadow-md p-10">
      <div><img class="size-30  mb-4" src="css/images/Keychron-V1-Custom-Mechanical-Keyboard-frosted-black-knob-K-Pro-brown.webp" /></div>
      <div>
        <h3>Keyboard: Hilux</h3>
        <p><strong>Model:</strong>
          <%= data.user.model %>
        </p>
        <p><strong>Prod Date:</strong>
          <%= data.user.ProdDate %>
        </p>
      </div>
      <p class="list-col-wrap pt-5 text-xs">
        <%= data.user.Info %>
      </p>
    </section>


    <section class="mt-10 mb-10 w-200 pl-45">
      <ul class="list bg-purple-900 rounded-box shadow-md p-10">
        <div><img class="size-50  mb-4" src="css/images/KBDFANSMKIII_Thumb.webp" /></div>
        <div>
          <h3>Keyboard: Miata</h3>
          <p><strong>Model:</strong>
            <%= data.modelTwo %>
          </p>
          <p><strong>Prod Date:</strong>
            <%= data.ProdDateTwo %>
          </p>
        </div>
        <p class="list-col-wrap pt-5 text-xs">
          <%= data.InfoTwo %>
        </p>
      </section>
</div>
      <%- include('partials/footer') %>
</body>

</html>
